
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
.themeButtons{
  position: absolute;
  top: -30px;
  
  right: 10px;
}
.themeButtons button{
  padding: 5px 5px;
  color: black;
  background:none;
  border-radius: 5px;
}
.themeButtonsDark button{
  background-color: beige;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-family: sans-serif;
  
  
}
body{
  background-color: black;
}
a {
  text-decoration: none;
}


.main {
  height: 100vh;
  width: 100vw;
  background-color: #f5e8b6;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.darkMain{
  background-color: black;
}


.login {
  border: 1px solid white;
  display: flex;
  
  width: 90vw;
  max-width: 400px;
  flex-direction: column;
  align-items: center;
  padding: 9px 9px;
  background-color: rgba(255, 255, 255);
  border-radius: 40px;

}
.slideShow{
  /* border: 2px solid red; */
  /* position: fixed;; */
  /* top: 40px; */
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;  
  overflow: hidden;
  align-items: center;
}
.dialogue{
  animation: dialogRaise 10s  linear ;
  animation-delay: 5s;
  position: relative;
  top: -800px;
}
.slider{
  height: 100px;
  display: flex;
  animation:slideShow 20s infinite linear ;
  animation-delay: 0s;
  /* border: 2px solid red; */
  width: fit-content;
  position: relative;
  right: -100px;
  align-items: center;
  opacity: 0.9;
}
.video{
  zoom: 100%;
}
.signupPageFont h1 {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@keyframes slideShow {
  0%{
    right: -10px;
  }
  100%{
    right: 470px;
  }
}
@keyframes dialogRaise {
  0%{
    top: 0px;
  }
  25%{
    top: 0px;
  }
  100%{
    top: 40px;
  }
}
.login h1 {
  color: black;
  font-size: medium;
  background-color: transparent;
   ;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  background-color: transparent;
}
.selectCollege{
  background-color: beige;
  color: black;
  outline: none;
  padding: 10px 10px;
  border-radius: 10px;
  font-weight: 600;

  margin-top: 30px;
  margin-bottom: 10px;
}
.selectCollege option{
  background-color: beige;
}

.loginForm label {
  background-color: transparent;
  color: black;
}

.loginForm input {
  width: 300px;

  height: 40px;
  margin: 10px;
  border-radius:3px;
  font-size: large;
  background-color: transparent;
  outline: none;
  border: 1.5px solid white;
  box-shadow: 0 0 5px black;
  padding: 1vh;
  color: black  ;

}

.loginBtn {
  width: 150px;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: 600;
  cursor: pointer;
  background-color: #173187;
  border: none;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  margin: 20px;
}

.Name {
  background-color: transparent;
  color: rgb(47, 47, 177);
  font-size: 3vh;
}

.loginQn {
  text-decoration: underline;
  background-color: transparent;
}



.inputContainer2 {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-bottom: 15px;
  background-color: transparent;
}
.inputContainer2 input{
  border: 2px solid black;
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}



.mobileHome {
  color: black;
}



.homeDesktop {
  width: 100vw;
}

.homeDesktop {
  padding: 16px;
  text-align: center;
}

.homeDesktop h1 {
  font-size: 20px;
}

@media (min-width: 768px) {
  .homeDesktop h1 {
    font-size: 36px;
    color: white;
  }
  .login{
    position: absolute;
  bottom: 0px;
  }
  .newsTitle{
    max-height: 100px;
    min-height: fit-content;
  }

}
.newsTitle{
  width: 80vw;
  max-width: 80vw;
}
.homeDesktop button {
  padding: 12px 24px;
  font-size: 16px;
}




.firstStep {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.firstStep h1 {
  font-size: large;
  font-family: 'Trebuchet MS';
}

.startButtonHome {
  padding: 10px 10px;
  border-radius: 10px;
  background-color: rgb(47, 47, 177);
  outline: none;
  font-size: 3vh;
  border: 1px solid white;
  color: black;
  cursor: pointer;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputBox {
  background-color: black;
  color: white;
  border: none
}


.welcomeText {
  color: white;
}


.inputMsg {
  background-color: black;
  /* color: white; */
  outline: none;
  border-radius: 10px;
  width: 70vw;
  font-size: large;
  padding: 0px 4px;
}

.stopButton {
  font-size: large;

  border-radius: 10px;
  outline: none;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.firstStep h1 {
  text-align: center;
}

.sendButton {
  background-color: rgb(47, 47, 177);
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  font-weight: bolder;
  font-size: large;

}

.sendIcon {
  background-color: rgb(47, 47, 177);
}

.strangerMsg,
.yourMsg {
  /* border:2px solid red ; */
  border-radius: 10px;
  padding: 14px 10px;
  background-color: rgba(255, 255, 255, 0.635);
  margin: 4px;
  display: flex;
}

.actualMsg {
  background-color: rgba(255, 255, 255, 0.0001);
  /* color: white; */
  border-radius: 10px;
}

.strangerWraper {

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.msgText{
  max-width: 80vw;
}
.youWraper {
  display: flex;
  justify-content: flex-end;
}

.strangerDp img {
  width: 45px;
  /* Set width */
  height: 45px;
  /* Set height (same as width for a circle) */
  padding: 10px;
  /* Padding inside the border */
  overflow: hidden;
}

.isTyping {
  display: flex;
  color: white;
  align-items: center;
}

.messageContainer::-webkit-scrollbar {
  display: none;
  /* WebKit browsers */
}

body::-webkit-scrollbar {
  display: none;
  /* WebKit browsers */
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.googleAd {
  height: 40px;
  /* border: 2px solid red; */
  width: 400px;
}

@media (min-width: 1024px) {
  .messageContainer {
    height: 70vh;
    /* Reduced height for larger screens */
    border: 1px solid white;
    border-radius: 2%;

  }

  .googleAd {
    height: 25vh;
    display: inline-block;
    width: 100%;


  }

  .inputWrapper {
    display: flex;
    align-items: center;
    justify-content: start;

  }
  .newsDiv{
    min-width: 400px  ;
  }
  .moreButton{
    margin-top: 10px;
  }
  /* .newsTitle{
    overflow:visible;
  } */
}



.addPostForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
  /* align-items: center; */
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 50px;
  padding: 30px 30px;
}

.Post_latest_happening2 {
  /* color: rgba(255, 255, 255, 0.5); */
  font-weight: 400;

  text-align: center;
  background: none;
  margin: auto;
}

.Post_latest_happening,
.studyZoneHeading {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  text-align: center;

  /* border: 2px solid red; */
  /* position: fixed; */

  background: none;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.heading{

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.Post_latest_happeningDark{
  color: black ;
  opacity: 0.7;
}
.newsDiv2 {
  /* margin-top: 80px; */
  padding: 10px 10px;
  gap: 1px;
  width: 90%;
  
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eventsdiv2{
  margin-top: 80px;
}
.eventDescription{
  color: rgba(0, 0, 0, 0.6);
  font-family: "News Cycle", sans-serif;
}
.submitbtn {
  padding: 20px 30px;

  background-color: rgb(47, 47, 177);
  border: 1px solid white;
  width: fit-content;
  margin: auto;
  border-radius: 10px;

}

.isForAllBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Newsinputs {
  padding: 10px 10px;
  outline: none;
  border: 1px solid white;
  border-radius: 10px;
}

.ImageBox,
.isForAllBox {
  display: flex;
  border: 1px solid white;
  padding: 10px 10px;
  border-radius: 10px;
  align-items: center;
}
.message-container {
  display: absolute;
  top: 0px;
  height: 92vh;
  overflow-y: scroll;
  /* Enable vertical scrolling */
  /* border: 2px solid red; */
  padding-bottom: 18px;
  /* Hide scrollbar */
  scrollbar-width: none;

  margin: auto;
}
.message{
  word-wrap: break-word   ;
}
.ImageBox h4 {
  font-weight: lighter;
  /* color: rgba(255, 255, 255, 0.3); */
}

.isAddingBtn {
  /* background-color: rgb(47, 47, 177); */
  /* border: 1px solid rgba(0, 0, 0); */
  width: fit-content;
  color: black;

  border-radius: 10px 25px;
  font-size: 35px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.09);
  position: fixed;
  bottom: 25px;
  right: 25px;
}
.isAddingBtnDark{
  border: 1px solid white;
  color: white;
}

.mainNewsDiv {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  overflow: auto;
  position: absolute;
  top: 0px;
  gap: 10px;
  padding: 10px 15px;
  gap: 10px;
  
}

.newsImage {
  height: 100%;
  border-radius: 4px;

}

.newsDiv {
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  
  border-radius: 25px;
  width: 100%;
  padding: 10px 10px;
  margin-top: 10px;
  max-width: 600px;

  position: relative;

}
.newsDivDark{
  
  border: 0.5px solid rgba(0, 0, 0, 0.5);
}
.eventDiv {
  width: 90vw;
  max-width: 600px;

  border: 1px solid white;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px 10px;
  /* overflow: hidden; */
}
.eventDivDark{
  
  border: 1px solid black;
}

.eventImageDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  position: relative;
  /* padding: 10px 10px; */
  /* border: 2px solid red; */
  overflow: hidden;
  
}


.eventImage {
  height: 100%;
  width: auto;
  max-height: 800px;
  border-radius: 10px;
  
}

.newsImageDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid white; */
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 20px;
  padding: 10px 10px;
  height: 200px;
}
.newsImageDivDark{
  background-color: rgba(0, 0, 0, 0.08);
  
}

.newsTitle {
  font-family: "News Cycle", sans-serif;
  font-weight: 200;
  font-style: normal;

}
.eventTitle {
  font-family: "News Cycle", sans-serif;
  font-weight: 200;
  /* line-height: 35px; */

  text-wrap: balance;



  /* border: 2px solid red; */

}
.eventTitleDark{
  color: rgba(0, 0, 0, 0.9);
}

.newsDescription {
  font-family: "News Cycle", sans-serif;
  /* border: 2px solid white; */
  font-weight: 100;
  /* color: rgba(255, 255, 255, 0.8); */
  font-style: normal;
  margin-top: 15px;
  max-height: 150px;
  overflow: auto;
  padding: 0px 10px;
}
.newsDescriptionDark{
  color: rgba(0, 0, 0,0.7)
}
.mainHome {
  /* border: 2px solid red; */
  min-height: 90vh;

  /* position: relative; */
  width: 98vw;
  position: relative;
}

.darkMainHome{
  background-color: black;
}
.logoutButton {
  position: absolute;
  outline: none;
  bottom: 30px;
  left: 10px;
  z-index: 100;

  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

.logoutIcon {
  background: none;
}

.HomeWelcomeText center {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-style: normal;
  color: black;
}
.darkHomeWelcomeText center{
  color: white;

}
.usernameOnWelcome {
  color: rgb(47, 47, 177);
  font-weight: 500;
  font-family: cursive;
  font-size: 40px;
  margin: 0px 5px 0px 5px;
}

.navigation {
  width: 350px;
  height: fit-content;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 2px solid yellow; */
  gap: 4px;
  padding: 10px 10px;

}

.card {
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 25px;
  /* border: 0.01ch solid white; */
  height: 150px;
  width: 150px;
  font-size: larger;
  
  display: flex;
  font-family:'Times New Roman', Times, serif;
  align-items: center;
  justify-content: center;
  margin: 2px;
  
  padding: 30px 30px;
  text-align: center;
  flex-direction: column;
}
.darkCard{
  border: 0.01ch solid black;
  color: black;
}

.moreButton {
  font-size: 30px;
  position: absolute;
  outline: none;
  top: -30px;
  left: 10px;
  background: transparent;
  border: none;
  opacity: 0.6;
}

.moreButton:hover {
  cursor: pointer;
}

.offButton {
  background-color: transparent;
  border: none;
  font-size: 25px;
  position: absolute;
  outline: none;
  top: 10px;
  right: 50px;
  cursor: pointer;

}

.homeLogos {
  height: 80px;
  background: none;
  opacity: 0.8;
  margin-bottom: 10px;

}

.studyZoneMainDiv {
  height: 98%;
  width: 99%;
  /* border: 2px solid red; */
  padding: 0px 10px;

  /* padding: 60px 10px; */
}

.studyZoneDiv {
  border: 1px solid white;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 100px; */

}
.studyZoneDivDark{
  border: 1px solid black;

}
.darkColor{
  color: rgba(0, 0, 0, 0.7);
}
.studyZoneIcon {
  height: 50px;
  width: 50px;
}
.studyZoneHeadingDark{
  color: rgba(0, 0, 0, 0.6);
}
.studyZoneHeading {
  margin-top: 10px;
  margin-bottom: 30px;
  
}

.studyZoneButton {
  padding: 10px 10px;
  background-color: rgb(47, 47, 177);
  border-radius: 10px;
  border: none;
  cursor: pointer;

}

.studyZoneButton a {
  background: none;
  color: black;
  font-weight: 500;
  font-size: larger;
}

.studyZoneSubHeading {
  margin-bottom: 10px;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.clgName {
  color: rgb(58, 74, 210);
  font-weight: 400;
  font-size: 15px;
}

.sideNavigation {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 5;
  top: 0px;

}

.sideNavigationInner {
  width: 200px;
  height: 98%;
  margin-top: 10px;
  background-color: rgb(22, 32, 126);
  /* position: absolute; */
  z-index: 6;
  top: 0px;
  left: -1 0px;
  position: relative;
  border-radius: 0px 15px;


}

.sideBarButton {
  background: none;
  border: none;
  font-size: 25px;
  position: absolute;
  right: 8px;
  color: black;
  opacity: 0.8;

}

.navElems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  position: absolute;
  font-size: larger;
  background: none;
  top: 50%;
  left: 40%;
  gap: 40px;
  cursor: pointer;

  transform: translate(-50%, -50%);

}

.navElems button {
  border: none;
  text-decoration: none;
  color: white;
  font-size: medium;
  background: none;
  margin: auto;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}

.navLinks:hover {
  color: black;
  transition: all 0.2s ease-in-out;

}

.googleAdnav {
  background: none;
  /* border: 2px solid red; */
  width: 90%;
  height: 150px;
  position: absolute;
  left: 8px;
  bottom: 5px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.5;

  visibility: hidden;

}

.sideBarButton {
  color: white;

  position: absolute;

}

.HomeButton {
  background: none;
  border: none;
  font-size: 25px;
  position: fixed;
  right: 18px;
  top: 20px;
  z-index: 10;
  /* color: white; */
  /* opacity: 0.8; */
}
.HomeButtonDark  :first-child {
  color: black;

}

.post_something_na {
  font-size: small;
  display: block;
  color: rgba(255, 255, 255, 0.3);
}

.profile {
  height: 90%;
  width: 100%;
  padding: 10px 10px;
}

.profileHeader {
  display: flex;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-size: small;
  font-weight: 100;
  border: 1px solid white;
  border-radius: 20px;
}

.profileHeader h1 {

  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 100;
  display: flex;
  align-items: center;

}

.profileHeader img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.profileDetails {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  padding: 10px 50px;
  opacity: 0.8;
}
.profileDetailsDark{
  color: wheat;
}

.name_and_insta {
  display: flex;

  align-items: center;
  gap: 40px;
}


.usernameDark{
  color: rgba(255, 255, 255, 0.5);
}
.name_and_insta a {
  font-size: 20px;
  outline: none;
}

.updateProfile {
  width: 100%;

}

.updateForm input {
  padding: 10px 10px;
  border: 1px solid white;
  margin: 10px;
  border-radius: 10px;
}

.updateForm button {
  padding: 10px 10px;
  border: 1px solid white;
  border-radius: 25px;
  font-weight: 200;
}

.logoutButton2 {
  font-size: 30px;
  display: flex;
  position: absolute;
  outline: none;
  bottom: 30px;
  left: 10px;
  rotate: 180deg;
  z-index: 100;

  background: none;
  border: none;
  color: black;
  cursor: pointer;
  align-items: center;
  gap: 4px;
}

.logoutButton2 h4 {

  rotate: 180deg;
  font-size: medium;
  
}
.postedBy{
  margin-top: 40px;
  color: rgba(0, 0, 0, 0.5);
  margin: 5px 0px;
  
}
.postedByLight{
  color: white;
}

.newsPostedBy{
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: black;
}
.newsPostedBy h5{
  opacity: 0.7;

}
.darkh5{
  color: rgba(0, 0, 0,0.7);
}

.contributions{
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  margin-top: 20px;
  font-size: medium;
}
.postedByDp{
  opacity: 0.7;
  height: 20px ;
  margin-left: 10px;
  
}
.studyZoneNoMeet{
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: smaller;
  font-weight: 500;
}
.aboutUsMainDiv{
  height: 90%;
  width: 80%;
  padding: 0px 10px;
  border: 1px solid silver;
  border-radius:  50px 0px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.aboutUsMainParagraph{
  text-align: center;
  line-height:30px;
  color: rgba(255, 255, 255, 0.7);
}
.aboutUsFooter{
  position: absolute;
  width: 80%;
  text-align: center;
  bottom: 10px;
}
.aboutUsFooterName{
  color: rgb(174, 178, 205);
  font-size: larger;
  text-decoration: underline;
  cursor: pointer;

}
.BoardOfAppreciation{
  height: 88%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.BoardOfAppreciationHeading{
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin-top: 10px;
  font-family: "News Cycle", sans-serif;
  font-weight: 400;
  font-size: larger;
}
.board{
  /* border: 2px solid yellow; */
  height: fit-content;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 10px;
}
.profileCard{
  padding: 10px 10px;

  border: 1px solid white;
  min-width: 330px;
  border-radius: 20px;
    height: 100%;
}
.profileCard h1{
  /* color: rgba(255, 255, 255, 0.7); */
  font-family:'Times New Roman', Times, serif;

  font-size: 30px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.profileCard img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.profileCard button{
  /* border: 1px solid white ; */
  background: none;
  border: none;
  margin-left: 30px;
  opacity: 0.7;
  font-size: 30px;
}
.profileCard h4{
  margin-top: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;

}
.BoardOfAppreciation p{
  font-size: medium;
  font-family: "News Cycle", sans-serif;
  font-weight: 200;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  bottom: 10px;
  

}
.privacy_policy h1{
  width: fit-content;
  /* color: rgba(255, 255, 255, 0.7); */
  text-align: center;
  font-family: playfair display;
  margin: auto;

}
.privacy_policy h4{
  /* color: rgba(255, 255, 255, 0.7); */
  text-align: center;
  margin-top: 20px;
  font-family: "News Cycle", sans-serif;
  font-weight: 400;
  font-size: larger;
  
}
.privacy_policy p{
  /* color: rgba(255, 255, 255, 0.7); */
  text-align: center;
  margin-top: 20px;
  font-family: "News Cycle", sans-serif;
  font-weight: 200;

}

.privacy_policy{
  
  border: 2px solid red;
  padding: 10px 10px;
  overflow: auto;
  height: 100vh;
}


.instagram  {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 5px 10px;
  border-radius: 25px;
}
.instagram span{
  background: none;
  font-size: small;
}
.instaIcon{
  background: none;
}
.instagram2{
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 20px;
  gap: 4px;
}
.instagram2 span{
  background:none;
  font-size: small;
  font-weight: 200;


}
.updateButton{
  background-color: rgba(255, 255, 255, 0.5);
}
.instaIcon2{
  font-size: 20px;
  background: none;
}
.fontedHeading{
    color: rgba(0, 0, 0, 0.6);
  font-family: "Poppins", serif;
  /* font-family: "News Cycle", sans-serif; */
  font-size: 30px;
  font-weight: 100;
}
.fontedPara{
  color: rgba(0, 0, 0, 0.6);
  /* font-family: "Poppins", serif; */
  font-family: "News Cycle", sans-serif;
  font-size: 20px;
  font-weight: 100;
}
@tailwind base;
@tailwind components;
@tailwind utilities;